@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
}

/* Add this to your CSS / Tailwind overrides */
.slick-slide > div {
  display: flex;
  justify-content: center;
}

.slick-list {
  overflow: visible !important; 

}

.scroll1 {
  animation: scrollLeft 10s linear infinite;
  animation-delay: -4s; 
}

.scroll2 {
  animation: scrollLeft 10s linear infinite;
  animation-delay: -2s; 
}

.scroll3 {
  animation: scrollLeft 10s linear infinite;
  animation-delay: 0s;
}

@keyframes scrollLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}



.wrapper {
overflow: hidden;
}

.wrapper::-webkit-scrollbar {
  display: none;
}